<h1>Registro</h1>
{{ registerForm.value | json }}
{{ registerForm.valid }}
<form
  [formGroup]="registerForm"
  (ngSubmit)="funRegistrar()"
  class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden"
>
  <div class="flex flex-column align-items-center justify-content-center">
    <div style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
      <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
        <div class="text-center mb-5">
          <div class="text-900 text-3xl font-medium mb-3">¡Bienvenido!</div>
          <span class="text-600 font-medium">Regístrate para comenzar</span>
        </div>

        <div>
          <label for="name" class="block text-900 text-xl font-medium mb-2">Nombre</label>
          <input
            id="name"
            type="text"
            formControlName="name"
            class="w-full md:w-30rem mb-5 p-inputtext"
            style="padding:1rem"
            placeholder="Tu nombre"
          />

          <label for="email" class="block text-900 text-xl font-medium mb-2">Correo Electrónico</label>
          <input
            id="email"
            type="email"
            formControlName="email"
            class="w-full md:w-30rem mb-5 p-inputtext"
            style="padding:1rem"
            placeholder="Tu correo"
          />

          <label for="password" class="block text-900 text-xl font-medium mb-2">Contraseña</label>
          <input
            id="password"
            type="password"
            formControlName="password"
            class="w-full md:w-30rem mb-5 p-inputtext"
            style="padding:1rem"
            placeholder="Contraseña"
          />

          <label for="confirmPassword" class="block text-900 text-xl font-medium mb-2">Confirmar Contraseña</label>
          <input
            id="confirmPassword"
            type="password"
            formControlName="confirmPassword"
            class="w-full md:w-30rem mb-5 p-inputtext"
            style="padding:1rem"
            placeholder="Confirma tu contraseña"
          />

          <button
            type="submit"
            [disabled]="!registerForm.valid"
            class="w-full p-3 text-xl"
            style="background-color: var(--primary-color)"
          >
            Registrarse
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
